services:
  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: shedul
      POSTGRES_PASSWORD: shedul
      POSTGRES_DB: shedul
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
